*{
    --cor-principal: #d3c1de;
    --cor-secundaria: #805aa6;

    --nav-height: 10vh;
}

html{
    background: var(--cor-principal);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

img{
    width: 100%;
    object-fit: cover;
}

.nav--label {
    height: calc(10vh - 2px);
    box-sizing: border-box;
    margin: 0 0 1px 0px;
}

.navbar {
    z-index: 1000;
    width: 100%;
    height: var(--nav-height);
    margin: 0;
    padding: 0 3rem 0 5rem;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    box-shadow: 1px 0 2px 1px #444;


    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);

}

.navbar--logo {
    position: absolute;
    right: 82.5%;

}

.navbar--logo img {
    max-width: 90px;
}

.navbar--links {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: white;
}

.nav--links {
    display: flex;
}

.navbar--item {
    padding: 0 0.75em;
}

.pg-arar{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 1rem;
    gap: 1rem;


    text-align: center;
    justify-items: center;
    justify-content: center;


    overflow: hidden;
    
}

.arar-logo-phi{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;  
    width: 75%;
}

.arar-logo-phi-img{
    width: 75%;
}

.arar-logo-phi h4{
    font-size: 20px;
    font-weight: 500;
    padding-top: .25rem;
}

.arar-logo-arar{
    width: 80%;
}

.arar-imgs{
    display: flex;
    flex-wrap: wrap;
    padding-block: 2rem;
    gap: 2rem;
}

.arar-intro-text{
    text-align: end;
    padding-bottom: 2rem;

    font-weight: 700;
    font-size: 35px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.p-padding{
    text-indent: 1rem;
    padding-block: 0.5rem
}

h3{
    font-weight: 500;
    text-indent: 1rem;
    font-size: 18px;
    padding-block: .5rem;
}

.arar-txt{
    text-align: justify;
    text-wrap: pretty;
    padding-inline: 5rem;
}

.arar-qrlink{
    padding: 2rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.arar-qrcode{
    width: 25%;
}

.arar-qrlink-phone{
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background: var(--cor-secundaria);
    padding: .5rem;
    border-radius: 30px;
    height: fit-content;

    display: none;
}

footer{
    padding: .5rem;
    background: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    align-items: end;
}

.arar-footer1{
    padding-bottom: .5rem;
    width: 60%;
}

@media (orientation: portrait) {
    .nav-div {
        width: 45%;
    }

    .pg-arar{
        grid-template-columns: 1fr;
    }

    .arar-imgs{
    display: none;
    }

    .arar-txt{
        padding-inline: 1rem;
    }

    .arar-qrlink{
        justify-content: space-evenly;
        gap: 2rem;
    }

    .arar-qrlink-phone{
        display: block;
    }
}